# vscode
[core]
	editor = code --wait --new-window
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED

# prune
[fetch]
    prune = true
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*	
	prune = true

[init]
	defaultBranch = main